<script setup lang="ts">
import MainView from './views/MainView.vue';
import LoginViwe from './views/LoginViwe.vue';
import { computed, onMounted, ref } from "vue";
import { useLoginStore } from "@/stores/login";
import MessageBox from "./components/MessageBox.vue";
const loginStore = useLoginStore();
onMounted(() => {
  console.log("onMounted");
  loginStore.loadData();
})
</script>

<template>
  <LoginViwe v-if="!loginStore.isLogin" />
  <MainView v-if="loginStore.isLogin" @logout="loginStore.logout" :loginName="loginStore.loginName" />
  <MessageBox></MessageBox>
</template>

<style scoped></style>
